{% extends "layout.html" %}
{% block content %}
    <h1>Επωνυμία:Κώστας Παπαδημητρίου</h1>
    <h3>ΑΦΜ:5392145</h3>
    <h3>Email:k.pap@gmail.com</h3>
    <h3>Contact Person:Κώστας Παπαδημητρίου</h3>
    <p>&nbsp;&nbsp;</p>
    <table id="customerAccountTable" class="table table-hover sortable">
            <thead>
                <tr class="bg-light">
                    <th scope="col">Παραστατικό <span class="sort-icon">⇅</span> </th>
                    <th scope="col">Ημερομηνία <span class="sort-icon">⇅</span> </th>
                    <th scope="col">Συνολικό ποσό <span class="sort-icon">⇅</span> </th>
                    <th scope="col">Καθαρή Αξία <span class="sort-icon">⇅</span> </th>
                    <th scope="col">Αξία Φ.Π.Α <span class="sort-icon">⇅</span> </th>
                </tr>
            </thead>
            <tbody>
                {% for last_sale in last_sales %}
                <tr class="table-light">
                    <td>{{ last_sale.Document_code }}</td>
                    <td>{{ last_sale.Document_date }}</td>
                    <td>{{ last_sale.Total_amount }}</td>
                    <td>{{ last_sale.Net_value }}</td>
                    <td>{{ last_sale.Vat_amount }}</td>
                </tr>
                {% endfor %}       
            </tbody>
        </table>
        <script src="https://unpkg.com/tablesort@5.2.1/dist/tablesort.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new Tablesort(document.getElementById('customerAccountTable'));
        });
    </script>
{% endblock content %}
