{% extends "layout.html" %}
{% block content %}
    <h1>Λίστα Πελατών <a href="{{ url_for('customer_register') }}" class="btn btn-secondary" id="addCustLineBtn">
    + Προσθήκη Νέου Πελάτη
  </a></h1>
    
    <p>&nbsp;&nbsp;</p>
    <table id="customerTable" class="table table-hover">
        <thead>
            <tr class="bg-light">
                <th scope="col">Κωδικός Πελάτη <span class="sort-icon">⇅</span> </th>
                <th scope="col">Περιγραφή Πελάτη <span class="sort-icon">⇅</span> </th>
                <th scope="col">Διεύθυνση <span class="sort-icon">⇅</span> </th>
                <th scope="col">Τρέχων Υπόλοιπο <span class="sort-icon">⇅</span> </th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr class="table-light">
                <td><a href="{{ url_for('customer_account') }}">{{ customer.id }}</a></td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.total_balance }}</td>
            </tr>
            {% endfor %}       
        </tbody>
    </table>

    <!-- Include Tablesort -->
    <script src="https://unpkg.com/tablesort@5.2.1/dist/tablesort.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new Tablesort(document.getElementById('customerTable'));
        });
    </script>
{% endblock content %}
