{% extends "layout.html" %}
{% block content %}
    <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">Βασ.Πληροφορίες</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Περ.Πληροφορίες</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">Λεπτομέρειες</button>
    </div>
    <div class="content-section">
        <form method="POST" action="" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Καταχώρηση Παραστατικού</legend>
                <div class="three-col">
                    <div class="col1">
                        {{ form.document_type.label(class="form-control-label") }}
                        {% if form.document_type.errors %}
                            {{ form.document_type(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.document_type.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.document_type(class="form-control form-control-lg") }}
                        {% endif %}
                        </div>
                    <div class="col2">
                        {{ form.document_code.label(class="form-control-label") }}
                        {% if form.document_code.errors %}
                            {{ form.document_code(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.document_code.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.document_code(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="col3">
                        {{ form.registration_date.label(class="form-control-label") }}
                        {% if form.registration_date.errors %}
                            {{ form.registration_date(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.registration_date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.registration_date(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.customer.label(class="form-control-label") }}
                    {% if form.customer.errors %}
                        {{ form.customer(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.customer.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.customer(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <fieldset class="form-lines-group">
                        <table id="itemTable" class="table table-hover sortable">
                    <thead>
                        <tr class="bg-light">
                            <th scope="col">Κωδικός Είδους <span class="sort-icon">⇅</span></th>
                            <th scope="col">Περιγραφή <span class="sort-icon">⇅</span></th>
                            <th scope="col">Τιμή <span class="sort-icon">⇅</span></th>
                            <th scope="col">Καθαρή Αξία <span class="sort-icon">⇅</span></th>
                            <th scope="col">Αξία ΦΠΑ <span class="sort-icon">⇅</span></th>
                            <th scope="col">Συνολική Αξία <span class="sort-icon">⇅</span></th>
                            <th scope="col">Χρώμα <span class="sort-icon">⇅</span></th>
                            <th scope="col">Μέγεθος <span class="sort-icon">⇅</span></th>
                            <th scope="col">Ποσότητα <span class="sort-icon">⇅</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                        <tr class="table-light">
                            <td>{{ item.Id }}</td>
                            <td>{{ item.Description }}</td>
                            <td>{{ item.Price }}</td>
                            <td>{{ item.Net_value }}</td>
                            <td>{{ item.Vat_value }}</td>
                            <td>{{ item.Gross_value }}</td>
                            <td>{{ item.Color }}</td>
                            <td>{{ item.Size }}</td>
                            <td>{{ item.Quantity }}</td>
                        </tr>
                        {% endfor %}       
                    </tbody>
                </table>
            </fieldset>
            <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
            </div>    
        </form>
    </div>
        <small class="text-muted">
            Έχεις ήδη λογαριασμό? Απλά κάνε σύνδεση! <a class="ml-2" href="{{ url_for('login') }}">Σύνδεση</a>
        </small>
{% endblock content %}
