{% extends "layout.html" %}
{% block content %}
    <h1>Λίστα Παραστατικών<a href="{{ url_for('document_register') }}" class="btn btn-secondary" id="addCustLineBtn">
    + Προσθήκη Νέου Παραστατικού
  </a></h1>
    <p>&nbsp;&nbsp;</p>
    <table id="documentTable" class="table table-hover">
        <thead>
            <tr class="bg-light">
                <th scope="col">Παραστατικό <span class="sort-icon">⇅</span> </th>
                <th scope="col">Ημερομηνία <span class="sort-icon">⇅</span> </th>
                <th scope="col">Πελάτης <span class="sort-icon">⇅</span> </th>
                <th scope="col">Καθαρή Αξία <span class="sort-icon">⇅</span> </th>
                <th scope="col">Αξία Φ.Π.Α <span class="sort-icon">⇅</span> </th>
                <th scope="col">Συνολική Αξία <span class="sort-icon">⇅</span> </th>
            </tr>
        </thead>
        <tbody>
                {% for document in documents %}
                <tr class="table-light">
                    <td>{{ document.code }}</td>
                    <td>{{ document.date }}</td>
                    <td>{{ document.customer }}</td>
                    <td>{{ document.net_value }}</td>
                    <td>{{ document.vat_value }}</td>
                    <td>{{ document.gross_value }}</td>
                </tr>
                {% endfor %}       
            </tbody>
    </table>

    <!-- Include Tablesort -->
    <script src="https://unpkg.com/tablesort@5.2.1/dist/tablesort.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            new Tablesort(document.getElementById('documentTable'));
        });
    </script>
{% endblock content %}
